## ANOVA

Notes

The classic ANOVA is very powerful when the groups are normally distributed and have equal variances. However, when the groups have unequal variances, it is best to use the Welch ANOVA (pingouin.welch_anova()) that better controls for type I error (Liu 2015). The homogeneity of variances can be measured with the pingouin.homoscedasticity() function.

The main idea of ANOVA is to partition the variance (sums of squares) into several components. For example, in one-way ANOVA:

ð‘†ð‘†total=ð‘†ð‘†effect+ð‘†ð‘†error

ð‘†ð‘†total=âˆ‘ð‘–âˆ‘ð‘—(ð‘Œð‘–ð‘—âˆ’ð‘ŒâŽ¯âŽ¯âŽ¯âŽ¯)^2

ð‘†ð‘†effect=âˆ‘ð‘–ð‘›ð‘–(ð‘Œð‘–âŽ¯âŽ¯âŽ¯âŽ¯âŽ¯âˆ’ð‘ŒâŽ¯âŽ¯âŽ¯âŽ¯)^2

ð‘†ð‘†error=âˆ‘ð‘–âˆ‘ð‘—(ð‘Œð‘–ð‘—âˆ’ð‘ŒâŽ¯âŽ¯âŽ¯âŽ¯ð‘–)^2

where ð‘–=1,...,ð‘Ÿ;ð‘—=1,...,ð‘›ð‘–, ð‘Ÿ is the number of groups, and ð‘›ð‘– the number of observations for the ð‘– th group.

The F-statistics is then defined as:

ð¹âˆ—=ð‘€ð‘†effect/ð‘€ð‘†error = ð‘†ð‘†effect/(ð‘Ÿâˆ’1)/ ð‘†ð‘†error/(ð‘›ð‘¡âˆ’ð‘Ÿ)


and the p-value can be calculated using a F-distribution with ð‘Ÿâˆ’1,ð‘›ð‘¡âˆ’1 degrees of freedom.

When the groups are balanced and have equal variances, the optimal post-hoc test is the Tukey-HSD test (pingouin.pairwise_tukey()). If the groups have unequal variances, the Games-Howell test is more adequate (pingouin.pairwise_gameshowell()).

The default effect size reported in Pingouin is the partial eta-square, which, for one-way ANOVA is the same as eta-square and generalized eta-square.

ðœ‚2ð‘=ð‘†ð‘†effectð‘†ð‘†effect+ð‘†ð‘†error

Missing values are automatically removed. Results have been tested against R, Matlab and JASP.

## Flowchart
https://pingouin-stats.org/guidelines.html#id5

## Example

In [7]:
import pingouin as pg

# Load an example dataset comparing pain threshold as a function of hair color
df = pg.read_dataset('anova')

# 1. This is a between subject design, so the first step is to test for equality of variances
pg.homoscedasticity(data=df, dv='Pain threshold', group='Hair color')

# 2. If the groups have equal variances, we can use a regular one-way ANOVA
pg.anova(data=df, dv='Pain threshold', between='Hair color')

# 3. If there is a main effect, we can proceed to post-hoc Tukey test
pg.pairwise_tukey(data=df, dv='Pain threshold', between='Hair color')

/Users/kurtschuepfer/Library/Python/3.8/lib/python/site-packages/pingouin/parametric.py:992: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  sserror = grp.apply(lambda x: (x - x.mean()) ** 2).sum()
/Users/kurtschuepfer/Library/Python/3.8/lib/python/site-packages/pingouin/parametric.py:992: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  sserror = grp.apply(lambda x: (x - x.mean()) ** 2).sum()

,A,B,mean(A),mean(B),diff,se,T,p-tukey,hedges
0,Dark Blond,Dark Brunette,51.2,37.4,13.8,5.168623,2.669957,0.074068,1.525213
1,Dark Blond,Light Blond,51.2,59.2,-8.0,5.168623,-1.547801,0.435577,-0.884182
2,Dark Blond,Light Brunette,51.2,42.5,8.7,5.482153,1.586968,0.414728,0.946285
3,Dark Brunette,Light Blond,37.4,59.2,-21.8,5.168623,-4.217758,0.003708,-2.409395
4,Dark Brunette,Light Brunette,37.4,42.5,-5.1,5.482153,-0.930291,0.789321,-0.554719
5,Light Blond,Light Brunette,59.2,42.5,16.7,5.482153,3.046249,0.036647,1.816432

## Example: One Way

In [1]:
import pingouin as pg
df = pg.read_dataset('anova')
aov = pg.anova(dv='Pain threshold', between='Hair color', data=df,
               detailed=True)
aov.round(3)

/Users/kurtschuepfer/Library/Python/3.8/lib/python/site-packages/pingouin/parametric.py:992: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  sserror = grp.apply(lambda x: (x - x.mean()) ** 2).sum()

       Source        SS  DF       MS      F  p-unc    np2
0  Hair color  1360.726   3  453.575  6.791  0.004  0.576
1      Within  1001.800  15   66.787    NaN    NaN    NaN

Same but using a standard eta-squared instead of a partial eta-squared effect size. Also note how here weâ€™re using the anova function directly as a method (= built-in function) of our pandas dataframe. In that case, we donâ€™t have to specify data anymore.

In [3]:
df.anova(dv='Pain threshold', between='Hair color', detailed=False,
         effsize='n2')

/Users/kurtschuepfer/Library/Python/3.8/lib/python/site-packages/pingouin/parametric.py:992: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  sserror = grp.apply(lambda x: (x - x.mean()) ** 2).sum()

       Source  ddof1  ddof2         F     p-unc        n2
0  Hair color      3     15  6.791407  0.004114  0.575962

Two-way ANOVA with balanced design

In [4]:
data = pg.read_dataset('anova2')
data.anova(dv="Yield", between=["Blend", "Crop"]).round(3)

/Users/kurtschuepfer/Library/Python/3.8/lib/python/site-packages/pingouin/parametric.py:992: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  sserror = grp.apply(lambda x: (x - x.mean()) ** 2).sum()
/Users/kurtschuepfer/Library/Python/3.8/lib/python/site-packages/pingouin/parametric.py:992: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  sserror = grp.apply(lambda x: (x - x.mean()) ** 2).sum()
/Users/kurtschuepfer/Library/Python/3.8/lib/python/site-packages/pingouin/parametric.py:1071: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  ss_resid = np.sum(grp_both.apply(lambda x: (x - x.mean()) ** 2))

         Source        SS  DF        MS      F  p-unc    np2
0         Blend     2.042   1     2.042  0.004  0.952  0.000
1          Crop  2736.583   2  1368.292  2.525  0.108  0.219
2  Blend * Crop  2360.083   2  1180.042  2.178  0.142  0.195
3      Residual  9753.250  18   541.847    NaN    NaN    NaN

Two-way ANOVA with unbalanced design (requires statsmodels)

In [5]:
data = pg.read_dataset('anova2_unbalanced')
data.anova(dv="Scores", between=["Diet", "Exercise"],
           effsize="n2").round(3)

            Source       SS   DF       MS      F  p-unc     n2
0             Diet  390.625  1.0  390.625  7.423  0.034  0.433
1         Exercise  180.625  1.0  180.625  3.432  0.113  0.200
2  Diet * Exercise   15.625  1.0   15.625  0.297  0.605  0.017
3         Residual  315.750  6.0   52.625    NaN    NaN    NaN

Three-way ANOVA, type 3 sums of squares (requires statsmodels)

In [6]:
data = pg.read_dataset('anova3')
data.anova(dv='Cholesterol', between=['Sex', 'Risk', 'Drug'],
           ss_type=3).round(3)

              Source      SS    DF      MS       F  p-unc    np2
0                Sex   2.075   1.0   2.075   2.462  0.123  0.049
1               Risk  11.332   1.0  11.332  13.449  0.001  0.219
2               Drug   0.816   2.0   0.408   0.484  0.619  0.020
3         Sex * Risk   0.117   1.0   0.117   0.139  0.711  0.003
4         Sex * Drug   2.564   2.0   1.282   1.522  0.229  0.060
5        Risk * Drug   2.438   2.0   1.219   1.446  0.245  0.057
6  Sex * Risk * Drug   1.844   2.0   0.922   1.094  0.343  0.044
7           Residual  40.445  48.0   0.843     NaN    NaN    NaN

## Non-Parametric Guideline
https://pingouin-stats.org/guidelines.html#id7

In [8]:
import pingouin as pg

# Load an example dataset comparing pain threshold as a function of hair color
df = pg.read_dataset('anova')

# There are 4 independent groups in our dataset, we'll therefore use the Kruskal-Wallis test:
pg.kruskal(data=df, dv='Pain threshold', between='Hair color')

             Source  ddof1         H     p-unc
Kruskal  Hair color      3  10.58863  0.014172